<div class="form-container">
  <div class="row">
     <div class="col">
      <h4>Reservation for </h4>
      <h3><i><%= @book.title %></i></h3>
      <%= simple_form_for([@book, @booking]) do |f| %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>
