
  <button type="button" class="btn btn-secondary btn-lg btn-block"><%= link_to "Kids", category_path(category: "Kids")%></button>
  <button type="button" class="btn btn-secondary btn-lg btn-block"><%= link_to "Sci-Fi and Fantasy", category_path(category: "Sci-Fi and Fantasy")%></button>
  <button type="button" class="btn btn-secondary btn-lg btn-block"><%= link_to "Mystery and Crime", category_path(category: "Mystery and Crime")%></button>
  <button type="button" class="btn btn-secondary btn-lg btn-block"><%= link_to "Comics", category_path(category: "Comics")%></button>
  <button type="button" class="btn btn-secondary btn-lg btn-block"><%= link_to "Classics", category_path(category: "Classics")%></button>
  <button type="button" class="btn btn-secondary btn-lg btn-block"><%= link_to "Non-fiction", category_path(category: "Non-fiction")%></button>
  <button type="button" class="btn btn-secondary btn-lg btn-block"><%= link_to "Romance", category_path(category: "Romance")%></button>
