<nav role="navigation" class="fixed-top">

    <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
            <%=link_to root_path, class: "dropdown-item" do %>
                <h5><i class="fas fa-home"> Home</i></h5>
            <% end  %>
           <%=link_to dashboards_path, class: "dropdown-item" do %>
                <h5><i class="fas fa-user"> Me</i></h5>
            <% end %>
            <%=link_to dashboards_path, class: "dropdown-item" do %>
                <h5><i class="fas fa-shopping-cart"> My cart</i></h5>
            <% end %>
            <%=link_to new_book_path, class: "dropdown-item" do %>
                <h5><i class="fas fa-plus-square"> Add book</i></h5>
            <% end %>          
        </ul>
    </div>
   
    <div class="search-bar topnav-right form-inline">
        <%= form_tag search_path, method: :get do %>
            <%= text_field_tag :query, 
            params[:query], class: "form-control",
            placeholder: "Search by title, author or location..." 
            %>
            <%= button_tag "", class: "btn btn-outline-info" do %> 
            <i class="fas fa-search"></i>
            <% end %>
         <% end %>
    </div>  
</nav>
   
 