 <div class=" text-center" id="title">
  <h6>Welcome to the <br></h6>
  <h4>C<small>entral</small> G<small>aijin</small> L<small>ibrary!</small></h4>
 </div>


 <div>
   <%= form_tag search_path, method: :get do %>
     <%= text_field_tag :query,
       params[:query],
       class: "form-control",
       placeholder: "Search by title, author or location..."
     %>
     <%= submit_tag "Search", class: "btn btn-primary" %>
   <% end %>
 </div>


  <%= render 'shared/btn-category' %>
  <%= render 'shared/book-frame' %>
  <%= render 'shared/category-carousel' %>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>





















