<div class="container">
  <div class="text-center mx-2" id="title">
    <% if @query %>
      <h2>Results for <span style="color:#4F9AE6"><strong><%= @query %></strong></span></h2>
      <h2>We found <span style="color:#4F9AE6"><strong><%= @books.count == 1 ? "a book" : "#{@books.count} books" %></strong></span> out of <%= Book.count %> from our database</h2>
    <% else %>
      <h1>All <%= Book.count %> books</h1>
    <% end %>
  </div>

  <div class="container">
    <div class="row justify-content-center my-3">
      <% @books.each do |book| %>
        <div class="book_card my-3">
          <%= link_to '+', new_book_booking_path(book), class: "button button-primary-box add_book_btn" %>
          <div class="info_section">
            <div class="book_header">
              <%= image_tag book.cover_picture, class: 'locandina' %>
              <h3><%= book.title %></h3>
              <p class="category"><%= book.category %></p>
            </div>
            <div class="book_desc">
              <p class="owner">Owner: <em><%= book.user.name %></em></p>
              <p class="text"><%= book.description %></p>
            </div>
          </div>
          <!-- <img src="/assets/" class='blur_back' alt="<%= book.category %>"> -->
          <div class="sharp_edges">
            <%= image_tag book.cover_picture, class: 'blur_back' %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="d-flex justify-content-center align-items-center">
      <%= link_to "Back", root_path, class:'button button-outline justify-content-center'%>
    </div>
  </div>
</div>


