<br>
<br>
<br>
<div class="container">
  <div class="book_card">
    <%= link_to '+', new_book_booking_path(@book), class: "button button-primary-box add_book_btn" %>
    <div class="info_section">
      <div class="book_header">
        <%= image_tag @book.cover_picture, class: 'locandina' %>
        <h3><%= @book.title %></h3>

        <p class="category"><%= link_to "#{@book.category}", category_path(category: "#{@book.category}")%></p>
      </div>
      <div class="book_desc">
        <p class="owner">Owner: <em><%= @book.user.name %></em></p>
        <p class="text"><%= @book.description %></p>
      </div>
    </div>
    <!-- <img src="/assets/" class='blur_back' alt="<%= @book.category %>"> -->
    <div class="sharp_edges">
      <%= image_tag @book.cover_picture, class: 'blur_back' %>
    </div>
  </div>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Book Location
        </button>
        <%= render 'shared/map_modal' %>



<div class="container" id="title">
  <div class="row justify-content-center">
    <div class="col">
      <h3>Booking Request For</h3>
      <h4><strong><%= @book.title %></strong> </h4>
      <div id='book-booking-dates' data-unavailable="<%= @book.unavailable_dates.to_json %>">
          <% if current_user.id != @book.user_id  %>
             <%= simple_form_for([@book, @booking]) do |f| %>
                 <%= f.input :start_date, as: :string, type: :text %>
                 <%= f.input :end_date, as: :string, type: :text %>
                 <%= f.submit "Book", class: "btn btn-primary" %>
              <% end %>
          <% end %>
       </div>
    </div>
  </div>
</div>
<br>
<br>
  <div class="d-flex justify-content-center align-items-center mt-18 mb-12">
      <%= link_to "Back", root_path, class:'button button-outline justify-content-center'%>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


