<div class="d-flex justify-content-center" id="title">
  <h2><%= current_user.name %>'s dashboard</h2>
</div>
<ul class="nav tabs-underlined center" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="active tab-underlined" id="home-tab" data-toggle="tab" href="#bookings" role="tab" aria-controls="home" aria-selected="true">Bookings</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="tab-underlined" id="profile-tab" data-toggle="tab" href="#requests" role="tab" aria-controls="profile" aria-selected="false">Requests</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="tab-underlined" id="converstion-tab" data-toggle="tab" href="#converstions" role="tab" aria-controls="converstion" aria-selected="false">Conversations</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade py-3 show active" id="bookings" role="tabpanel" aria-labelledby="home-tab">
    <% @bookings.each do |booking| %>
      <div class="container">
        <div class="row justify-content-center" id="title">
          <div class=".col">
            <div class="book_card">
              <div class="info_section">
                <div class="d-flex kill-profile-margin">
                  <% if booking.pending? %>
                    <i class="fas fa-spinner mt-2 mx-2" data-toggle="tooltip" data-placement="top" title="Pending" style="font-size:25px"></i>
                  <% elsif booking.accepted? %>
                    <i class="far fa-check-circle mt-2" style="font-size:25px"></i>
                  <% else %>
                    <i class="far fa-times-circle mt-2" style="font-size: 25px"></i>
                  <% end %>
                  <%= link_to "", booking_path(booking), { class: 'fas fa-exclamation-triangle mt-2 button-cancel', style: '25px', title: '', data: { toggle: 'tooltip', placement: 'top', title: 'Cancel request' }, method: :delete }%>
                </div>
                <div class="book_header">
                  <%= image_tag booking.book.cover_picture, class: 'locandina' %>
                  <h3><%= booking.book.title %></h3>
                  <p class="category"><%= booking.book.category %></p>
                </div>
                <div class="book_desc">
                  <p class="owner">Owner: <em><%= booking.book.user.name %></em></p>
                  <p class="text"><%= booking.book.description %></p>
                </div>
              </div>
              <div class="sharp_edges">
                <%= image_tag booking.book.cover_picture, class: 'blur_back' %>
              </div>
              <!-- <br> -->
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
  <div class="tab-pane fade py-3" id="requests" role="tabpanel" aria-labelledby="profile-tab">
    <% @requests.each do |booking| %>
      <div class="container">
        <div class="row justify-content-center" id="title">
          <div class=".col">
            <div class="book_card">
              <div class="info_section">
                <div class=" d-flex align-items-center">
                  <% if booking.pending? %>
                    <%= simple_form_for booking do |f| %>
                      <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
                      <%= f.submit 'Accept', class: 'btn btn-info' %>
                    <% end %>
                    <%= simple_form_for booking do |f| %>
                      <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
                      <%= f.submit 'Reject', class: 'btn btn-info mx-2' %>
                    <% end %>
                  <% else %>
                    <p class='booking-tag'><%= booking.status %></p>
                  <% end %>
                </div>
                <div class="book_header">
                  <%= image_tag booking.book.cover_picture, class: 'locandina' %>
                  <h3><%= booking.book.title %></h3>
                  <p class="category"><%= booking.book.category %></p>
                </div>
                <div class="book_desc">
                  <p class="owner">Owner: <em><%= booking.book.user.name %></em></p>
                  <p class="text"><%= booking.book.description %></p>
                </div>
              </div>
              <div class="sharp_edges">
                <%= image_tag booking.book.cover_picture, class: 'blur_back' %>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="tab-pane fade py-3" id="converstions" role="tabpanel" aria-labelledby="converstion-tab">
    This is the content for the Conversations tab. Notice in the tab HTML there is a href="#converstations". This is pointing to the id of this div.
  </div>

