<div class="d-flex justify-content-center" id="title">
<h2><%= current_user.name %>'s dashboard</h2>
</div>



<% @bookings.each do |booking| %>
  <div class="container">
    <div class="row justify-content-center" id="title">
      <div class=".col">
        <div class="book_card">
            <div class="info_section">
              <% if booking.status == "pending" %>
                <i class="fas fa-spinner mt-2" style="font-size:25px"></i>
              <% end %>
              <div class="book_header">
                <%= image_tag booking.book.cover_picture, class: 'locandina' %>
                <h3><%= booking.book.title %></h3>
                <p class="category"><%= booking.book.category %></p>
              </div>
              <div class="book_desc">
                <p class="owner">Owner: <em><%= booking.book.user.name %></em></p>
                <p class="text"><%= booking.book.description %></p>
                <div class="button-delete"></div>
              </div>
              <%= link_to 'Delete', root_path, class: "button button-delete" %>
            </div>
          <!-- <img src="/assets/" class='blur_back' alt="<%= booking.book.category %>"> -->
          <div class="sharp_edges">
            <%= image_tag booking.book.cover_picture, class: 'blur_back' %>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
<% end %>
